<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <title>Game List App Page</title>
</head>
<body>
    <div id="wrapper">
        <h1>Here is the list</h1>
        <div id= "entries-list"></div>
    </div>
    <script>
        fetch('/getdata')
        .then(function(response){
            return response.json();
        })
        .then(function(entries){
            console.log(JSON.stringify(entries));
            entries.entries.forEach(function(entry){
            document.getElementById("entries-list").innerHTML +=
                "<div><p>Game:" + entry.title + "<div class='entries'></p><p>Genre:"+ entry.genre + "</p><p>Game:" +
                entry.date+"</p></div><br>";
            })
    });
    </script>
</body>
</html>